body {
    background-image: https://raw.githubusercontent.com/JonahSEO/JonahSEO.github.io/main/ranking.facts.jpg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
